.post{
    margin-top: 2rem;
    /* width: 900px; */
    height: 90%;
}
.photo{
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.textPost{
    margin-left: auto;
    margin-right: auto;
}
.form {
    padding-top: 30px;
    width: 100%;
}
.category{
    text-align: center;
}
.title{
    margin-left: auto;
    margin-right: auto;
    
}

.textoneline{
    overflow: hidden;
    white-space: nowrap;
}

.photodel img{
    width: 30px;
    height: 30px;
}
.photoedit img{
    width: 30px;
    height: 30px;
}
.modal{
    width: 100%;
}