
.information{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form{
  padding-top: 30px;
  width: 60%;
}
.btn__sand{
  margin-top: 32px;
}
.btn__send{
  width: 100%;
}
.post{
  margin-top: 2rem;
  width: 90%;
  height: 90%;
}
.imgpost{
  text-align: center;
  width:'200px';
  margin-left: 58px;
  margin-top: 15px;
}
.name{
  font-size: 25px;
    text-align: center;
    padding: 5%;
}
