.post{
    margin-top: 2rem;
    /* width: 900px; */
    height: 90%;
}
.photo{
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.textPost{
    margin-left: auto;
    margin-right: auto;
}
.category{
    text-align: center;
}
.title{
    margin-left: auto;
    margin-right: auto;
}