.post{
    margin-top: 2rem;
    width: 90%;
    height: 90%;
}
.photo{
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.textPost{
    margin-left: auto;
    margin-right: auto;
}
.category{
    text-align: center;
}
.title{
    margin-left: auto;
    margin-right: auto;
    
}

.textoneline{
    overflow: hidden;
    white-space: nowrap;
}
.photodel{
    margin: 5px;
}
.photodel img{
    width: 30px;
    height: 30px;
    
}
.photoedit{
    margin: 5px;
}
.photoedit img{
    width: 30px;
    height: 30px;
}
.photolike{
    margin: 5px;
}
.photolike img{
    width: 30px;
    height: 30px;
    display: inline-block;
    
   
}
.photodislike{
    margin: 5px;
}
.photodislike img{
    width: 30px;
    height: 30px;
    display: inline-block;  
}
.modal{
    width: 100%;
}
.updatePost{
    width: 20%;
    margin: 2%;
    margin-left: 39%;
}
.likesrating{
    display: inline-block;
    margin-top: 2%;
}
